In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('Data/car_purchasing_data.csv')
data.head()

,Customer Name,Customer e-mail,Country,gender,age,salary,debt,worth,amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,USA,0,42,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,USA,0,41,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,USA,1,43,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,USA,1,58,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,USA,1,57,59729.15130,5358.712177,560304.0671,55915.46248

In [4]:
data.shape

(500, 9)

In [5]:
# split data into features and label
X = data.iloc[:,3: -1]
# target variable
y = data.iloc[:, -1]
X

     gender  age       salary          debt        worth
0         0   42  62812.09301  11609.380910  238961.2505
1         0   41  66646.89292   9572.957136  530973.9078
2         1   43  53798.55112  11160.355060  638467.1773
3         1   58  79370.03798  14426.164850  548599.0524
4         1   57  59729.15130   5358.712177  560304.0671
..      ...  ...          ...           ...          ...
495       0   41  71942.40291   6995.902524  541670.1016
496       1   38  56039.49793  12301.456790  360419.0988
497       1   54  68888.77805  10611.606860  764531.3203
498       1   59  49811.99062  14013.034510  337826.6382
499       1   47  61370.67766   9391.341628  462946.4924

[500 rows x 5 columns]

In [6]:
y

0      35321.45877
1      45115.52566
2      42925.70921
3      67422.36313
4      55915.46248
          ...
495    48901.44342
496    31491.41457
497    64147.28888
498    45442.15353
499    45107.22566
Name: amount, Length: 500, dtype: float64

In [9]:
# split data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
print(f"_train.shape :{X_train.shape}, X_test.shape: {X_test.shape}, y_train.shape: {y_train.shape}, y_test.shape: {y_test.shape}")

_train.shape :(400, 5), X_test.shape: (100, 5), y_train.shape: (400,), y_test.shape: (100,)

In [10]:
# scaling the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Fit and transform only on training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform test data
X_test_scaled = scaler.transform(X_test)

In [11]:
# train model
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [12]:
# Making prediction on test data
y_pred = model.predict(X_test)
# Display first few predictions
y_pred[:10]

array([39014.93162433, 43224.08548517, 29550.14089604, 52458.82598082,
       38673.31555162, 52793.31375397, 60922.85448917, 59600.27636863,
       37723.38580786, 31510.02065102])